<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Request Form</title>
    </head>
    <body class="min-h-screen py-8">
        <header class="w-full h-20 bg-[#01763b] absolute top-0 px-10">
            <div class="h-full w-20">
                <img src="http://localhost:5173/images/konza.jpg" alt="konza" class="w-full h-full object-contain">
            </div>
        </header>
        
        {% block content%} {% endblock content%}
    </body>
</html>
